@model IEnumerable<PRIS.Models.TestQuestion>

@{
    int i = 1;
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in ViewBag.Part)
{
    <p>Part: @item</p>

    foreach (var item2 in Model)
    {
        if (item == item2.Part)
        {
            <p>@i @item2.Question</p>
            i++;

            foreach (var item3 in ViewBag.Answer)
            {
                @item3
            }
        }
    }
    <br />
}

@foreach (var item in ViewBag.Part)
{
    <p>@item</p>

    foreach (var item2 in Model)
    {
        if(item == item2.Part)
        {
            <tr>
                <td>@i</td>
                <td>@item2.Question</td>
            </tr>
            i++;
        }
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Part)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item2 in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item2.Part)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item2.Question)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item2.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item2.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item2.Id })
        </td>
    </tr>
}

</table>
