@model PRIS.Models.Jobseeker
@{
    Layout = null;
    ViewBag.Title = "Jobseeker";
}

@Html.ValidationSummary(true)
<head>
    <title>Jobseeker Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/JobseekerSignUp/JavaScript.js"></script>
    <link href="~/Scripts/JobseekerSignUp/StyleSheet1.css" rel="stylesheet" />
    
    <style>
        .panel-collapse-clickable {
     cursor: pointer;  
}
    </style>   
</head>

@using PRIS.Models
@Html.HiddenFor(x => x.JobseekerId)
@Html.ValidationSummary(true)

<div class="container" style="width:90%">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel" style="padding:10px; font-size:20px"><strong>Personal Information</strong></a>
                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </h4>
        </div>
        <div id="filterPanel" class="panel-collapse panel-collapse collapse in">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    

                    <br /><h3>Personal Contact</h3>
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <h3>Attachment</h3>
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Resume, htmlAttributes: new { @class = "control-label" })
                            <input type="file" id="image1" name="file1" />
                            @*Html.TextBoxFor(model => model.Picture, new { type="file"})*@
                            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label" })
                            <input type="file" id="image1" name="image1" />
                            @Html.ValidationMessageFor(model => model.Resume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading" style="background-color:Red">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel2" style="padding:10px; font-size:20px"><strong>Qualification</strong></a>
                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel2">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </h4>
        </div>
        <div id="filterPanel2" class="panel-collapse panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="phoneNumbers1">
                        @Html.EditorFor(x => x.Qualifications, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <p>
                        @Html.AddLink("Add More", "#phoneNumbers1", ".phoneNumber1", "Qualifications", typeof(PRIS.Models.Qualification))
                    </p>
                </div>
            </div>
        </div>

        <div class="panel-heading" style="background-color:Cyan">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel3" style="padding:10px; font-size:20px"><strong>Languages</strong></a>
                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel3">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </h4>
        </div>
        <div id="filterPanel3" class="panel-collapse panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-12">
                    <label>Lanaguege Learned</label>
                    <div id="phoneNumbers">
                        @Html.EditorFor(x => x.Languages, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <p>
                        @Html.AddLink("Add More", "#phoneNumbers", ".phoneNumber", "Languages", typeof(PRIS.Models.Language))
                    </p>
                </div>
            </div>
        </div>

        <div class="panel-heading" style="background-color:lightyellow">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel4" style="padding:10px; font-size:20px"><strong>Skills</strong></a>
                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel4">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </h4>
        </div>
        <div id="filterPanel4" class="panel-collapse panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-12">
                    <label>Skills Acquired</label>
                    <div id="phoneNumbers2">
                        @Html.EditorFor(x => x.Skills, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <p>
                        @Html.AddLink("Add More", "#phoneNumbers2", ".phoneNumber2", "Skills", typeof(PRIS.Models.Skill))
                    </p>
                </div>
            </div>
        </div>

        <div class="panel-heading" style="background-color:lightyellow">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel5" style="padding:10px; font-size:20px"><strong>Working Experience</strong></a>
                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel5">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </h4>
        </div>
        <div id="filterPanel5" class="panel-collapse panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-12">
                    <label>Working Experiences</label>
                    <div id="phoneNumbers3">
                        @Html.EditorFor(x => x.WorkingExperiences, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <p>
                        @Html.AddLink("Add More", "#phoneNumbers3", ".phoneNumber3", "WorkingExperiences", typeof(PRIS.Models.WorkingExperience))
                    </p>
                </div>
            </div>
        </div>

        <div class="panel-heading" style="background-color:lightyellow">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel6" style="padding:10px; font-size:20px"><strong>Preferences</strong></a>
                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel6">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </h4>
        </div>
        <div id="filterPanel6" class="panel-collapse panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreferredField, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PreferredField, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.PreferredField, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreferredSalary, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PreferredSalary, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                        @Html.ValidationMessageFor(model => model.PreferredSalary, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreferredLocation, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PreferredLocation, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.PreferredLocation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(".panel-collapse").on("hide.bs.collapse", function () {
        $(".panel-collapse-clickable").find('i').removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
    });

    $(".panel-collapse").on("show.bs.collapse", function () {
        $(".panel-collapse-clickable").find('i').removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
    });
</script>