@model PRIS.Models.WorkingExperience

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkingExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jobseeker.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jobseeker.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WEId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
