@model PRIS.Models.Company

@{
    Layout = null;
    ViewBag.Title = "EmployerSignUp";
}

@Html.ValidationSummary(true)

<head>
    <title>Jobseeker Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/JobseekerSignUp/JavaScript.js"></script>
    <link href="~/Scripts/JobseekerSignUp/StyleSheet1.css" rel="stylesheet" />
    <style>
        div
        {
            font-size:18px
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Real/EmployerMainPage">Home</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="~/Real/EmployerSignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="~/Real/EmployerLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">

        @using (Html.BeginForm("EmployerSignUp", "Real", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="head">
                <h1><strong>Employer Sign Up</strong></h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="board">
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="step-1">
                            <div class="col-md-12" style="padding:25px">
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" }) *
                                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" }) *
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyInformation, htmlAttributes: new { @class = "control-label" }) *
                                        <br />
                                        @*Html.TextAreaFor(model => model.CompanyInformation, new { htmlAttributes = new { @class = "form-control", @style="width:100%" } })*@
                                        @Html.TextAreaFor(model => model.CompanyInformation, new { style = "width:100%; height:200px", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CompanyInformation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyBenefits, htmlAttributes: new { @class = "control-label" }) *
                                        @Html.TextAreaFor(model => model.CompanyBenefits, new { style = "width:100%; height:200px", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CompanyBenefits, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <h3>Company Contact</h3>
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPhoneNo, htmlAttributes: new { @class = "control-label" }) *
                                        @Html.EditorFor(model => model.CompanyPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyPhoneNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyEmail, htmlAttributes: new { @class = "control-label" }) *
                                        @Html.EditorFor(model => model.CompanyEmail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAddress, htmlAttributes: new { @class = "control-label" }) *
                                        @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyWebsite, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CompanyWebsite, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyWebsite, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <h3>Attachment</h3>
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyLogo, htmlAttributes: new { @class = "control-label" })
                                        <input type="file" id="image1" name="image1" />
                                        @Html.ValidationMessageFor(model => model.CompanyLogo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <button id="step-1-next" class="btn btn-lg btn-primary nextBtn pull-right">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>